root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80
spaces_around_operators = true
spaces_around_brackets = true
indent_brace_style = 1tbs
continuation_indent_size = 2
curly_bracket_next_line = false

[*.js]
quote_type = single
