<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vivaxy.alfred-workflow.open-in-vscode</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4299DEBA-00AB-4738-8D5D-0B06BCAC9B64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>666E227D-70E9-4B75-95B6-4462D823F86C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FDC360C-F01A-413A-9AB6-2A2201C834EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81245DDB-8D34-40F6-9F00-305CA9B79802</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81245DDB-8D34-40F6-9F00-305CA9B79802</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADA45187-B87B-442D-810A-722562286252</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADA45187-B87B-442D-810A-722562286252</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>vivaxy</string>
	<key>description</key>
	<string>Alfred workflow to open in VSCode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in VSCode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Finder"
    set pathList to (quoted form of POSIX path of (folder of the front window as alias))
  end tell
  do shell script "open -a \"Visual Studio Code\" " &amp; pathList
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>666E227D-70E9-4B75-95B6-4462D823F86C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>code</string>
				<key>subtext</key>
				<string>Open Current File in VSCode</string>
				<key>text</key>
				<string>Open VSCode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4299DEBA-00AB-4738-8D5D-0B06BCAC9B64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select project</string>
				<key>title</key>
				<string>Open Project in VSCode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4FDC360C-F01A-413A-9AB6-2A2201C834EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Visual Studio Code"
    open q
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>ADA45187-B87B-442D-810A-722562286252</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>81245DDB-8D34-40F6-9F00-305CA9B79802</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/vivaxy/alfred-open-in-vscode/blob/main/README.md</string>
	<key>uidata</key>
	<dict>
		<key>4299DEBA-00AB-4738-8D5D-0B06BCAC9B64</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>4FDC360C-F01A-413A-9AB6-2A2201C834EA</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>666E227D-70E9-4B75-95B6-4462D823F86C</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>81245DDB-8D34-40F6-9F00-305CA9B79802</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>ADA45187-B87B-442D-810A-722562286252</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Project directories</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Glob patter to match project directories</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>projects</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.3.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
